@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?a2qk3l');
    src:  url('../../fonts/icomoon.eot?a2qk3l#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?a2qk3l') format('truetype'),
    url('../../fonts/icomoon.woff?a2qk3l') format('woff'),
    url('../../fonts/icomoon.svg?a2qk3l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-promo:before {
    content: "\e900";
}
.icon-arrow:before {
    content: "\e901";
}
.icon-bukety:before {
    content: "\e902";
}
.icon-buy:before {
    content: "\e903";
}
.icon-city:before {
    content: "\e904";
}
.icon-dekor:before {
    content: "\e905";
}
.icon-fb:before {
    content: "\e906";
}
.icon-flag:before {
    content: "\e907";
}
.icon-insta:before {
    content: "\e908";
}
.icon-heart-o:before {
    content: "\e909";
}
.icon-heart:before {
    content: "\e90a";
}
.icon-kompozicii:before {
    content: "\e90b";
}
.icon-korziny:before {
    content: "\e90c";
}
.icon-lk:before {
    content: "\e90d";
}
.icon-about:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e90f";
}
.icon-photo:before {
    content: "\e910";
}
.icon-photostudia:before {
    content: "\e911";
}
.icon-prazdniku:before {
    content: "\e912";
}
.icon-svadebnoe:before {
    content: "\e913";
}
.icon-vk:before {
    content: "\e914";
}
